/* @font-face {
  font-family: PTSans;
  src: url("http://fonts.googleapis.com/css?family=PT+Sans");
} */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  background-color: #F5F5F5;
}

.main {
  background-color: white;
  box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.nav-link {
  color: black;
}

.container {
  margin-top: 10px;
}

h1, h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (min-width: 979px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}
